{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <img src="{{MEDIA_URL}}{% if item.image %}{{ item.image }}{% else %}Placeholder-image.png{% endif %}" alt="image of {{ item.name }}" class="col-sm-5">
    
        <div class="col-sm-5">
            <h3>{{ item.name }}</h3>
            <strong>£{{ item.base_price }}</strong>
            <form class="form" action="{% url 'add_to_cart' item.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="dect-qty btn" data-item_id="{{item.id}}" id="dec-qty_{{item.id}}">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input type="text" class="form-control qty_input" name="quantity" value="1" min="1" max="99" id="id_qty_{{ item.id }}" data-item_id="{{item.id}}">
                            <div class="input-group-append">
                                <button class="inc-qty btn" data-item_id="{{item.id}}" id="inc-qty_{{item.id}}">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a href="{% url 'search' %}" class="btn">
                        <span>Keep Shopping</span>
                    </a>
                    <input type="submit" value="Add to Cart" class="btn">
                </div>
                <input type="hidden" name="redirect" value="{{ request.path }}">
            </form>
        </div>
    </div>
    <div class="row">
        <p>
            {{item.description}}
        </p>
    </div>
</div>
{% endblock %}
{% block postJS %}
{{block.super}}
    <script src="{% static 'js/qty_script.js' %}"></script>
{% endblock %}