{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid vh-100">

    <div class="row h-100">
        <div class="col-2 float-lg-start bg-secondary">
        </div>
        <div class="col-10 float-lg-end">
            {% if items %}
                {% for item in items %}
                    {% include 'items/includes/itemcard.html' with item=item %}
                {% endfor %}
            {% else %}
                <h2>Your search returned no results.</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}