{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="row universal-padding justify-content-center search-container">
        <form class="col-6 row justify-content-center" action="{% url 'search' %}" method="GET">
            <input type="hidden" name="category" value="{% if category %}{% for category in category %}{{category.internal_name}},{% endfor %}{% endif %}">
            <input class="col-7 search" type="text" name="search">
            <button class="col-1" type="submit">
                <i class="fas fa-search px-0"></i>
            </button>
        </form>
    </div>
    <div class="row universal-padding">
        <div>
            <h2 class="title-font">
                {% if category %}
                    {% for category in category %}
                        {{category.name}}
                    {% endfor %}
                {% else %}
                    All Books
                {% endif %}
                {% if search %}
                    Containing: "{{ search }}"
                {% endif %}
            </h2>
        </div>
        <div class="item-container row">
            {% if items %}
                {% for item in items %}
                    {% include 'items/includes/itemcard.html' with item=item %}
                {% endfor %}
            {% else %}
                <h2 class="body-font">Your search returned no results.</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}