{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row page-top landing-top">
        <div class="col-7">
            <h2>
                This is a test title
            </h2>
            <p>
                This is a test description for the landing page news
            </p>
        </div>
    </div>
    <hr>
    <div class="row px-5 py-2">
        {% for item in popular_items %}
            {% include 'items/includes/itemcard.html' with item=item %}
        {% endfor %}
    </div>
    <hr>
    <div class="row px-5 py-2">
        {% if sales %}
            {% for sale in sales %}
                <div class="card col-lg-2">
                    <div>
                        <div class="card-body">
                            <h4 class="card-title title-font">{{sale.name}}</h4>
                            <h5 class="card-text body-font">
                                {{sale.discount_amount}}
                            </h5>
                        </div>
                        <a href="{% url 'search' %}?category={{sale.category}}" class="btn title-font">View Items</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            There's no sales right now, but check again soon!
        {% endif %}
    </div>
{% endblock %}