<!--Another template based off of the django tutorial code-->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row justify-content-center page-top">
    <div class="col-10">
        <h2>Checkout</h2>
        <div class="checkout-form">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="fieldset-label">Details</legend>
                    {{ order_form.full_name|as_crispy_field }}
                    {{ order_form.full_name|as_crispy_field }}
                    {{ order_form.full_name|as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label">Delivery Address</legend>
                    {{ order_form.address_line1|as_crispy_field }}
                    {{ order_form.address_line2|as_crispy_field }}
                    {{ order_form.city|as_crispy_field }}
                    {{ order_form.postcode|as_crispy_field }}
                    {{ order_form.county|as_crispy_field }}
                    {{ order_form.country|as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="save-info">Save this info for next time?</label>
                            <input class="form-check-input" type="checkbox" name="save-info">
                        {% else %}
                             <label class="form-check-label" for="save-info">
                                <a href="{% url 'signup' %}">Create an account</a> or
                                <a href="{% url 'login' %}">Login</a> to save this information.
                             </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label">Payment Information</legend>
                    <div id="card-element"></div>
                    <div id="card-errors"></div>
                </fieldset>
                <div class="submit-button">
                    <a href="{% url 'view_cart' %}" class="btn">
                        Adjust Bag
                    </a>
                    <button id="submit-button">
                        <span>
                            Complete Order
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- going to have a horizontal rule between these two. -->
    <div class="col-2 checkout-items">
        
    </div>
</div>
{% endblock %}