/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

/*set html & body height to 100% to ensure footer works right*/
html, body{
    height:100%
}

/* colours */
.bg-white{
    background-color: #fffafa!important;
    color: #100e00!important;
}

.bg-black{
    background-color: #100e00!important;
    color: #fffafa!important;
}

.bg-red{
    background-color: #f15152!important;
    color: #fffafa!important;
}

.bg-yellow{
    background-color: #ebad03!important;
    color: #fffafa!important;
}

.bg-green{
    background-color: #8ed24b!important;
    color: #fffafa!important;
}

.bg-purple{
    background-color: #954bd2!important;
    color: #fffafa!important;
}

/* fonts */
.title-font{
    font-family:'Montserrat', sans-serif;
}
.body-font{
    font-family: 'Open Sans', sans-serif;
}


/* positionings */
.page-top{
    padding:30px 15px 0 15px;
}

/* item page - will seperate into own file when refactoring */
.item-page-image{
    max-width: 20vw;
}

/* forms */
.form-group{
    margin-bottom: 5px;
}

select,
select option{
    background-color: #fffafa!important;
    color: #100e00!important;
}

select:invalid,
select option[value=""]{
    color:#100e0057!important;
}

/* checkout */
#loading-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f15152d9;
    z-index: 9999;
}

.loading-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%
}

/* toasts */
.toast{
    position: absolute;
    top:3vh;
    right:3vw;
    z-index:999999;
}