/* colours */
.bg-white{
    background-color: #fffafa!important;
    color: #100e00!important;
}

.bg-black{
    background-color: #100e00!important;
    color: #fffafa!important;
}

.bg-red{
    background-color: #f15152!important;
    color: #fffafa!important;
}

.bg-yellow{
    background-color: #f7ce5b!important;
    color: #100e00!important;
}

.bg-green{
    background-color: #8ed24b!important;
    color: #100e00!important;
}
/* fonts */

/* positionings */
.page-top{
    padding:30px 15px 0 15px;
}
/* item page - will seperate into own file when refactoring */
.item-page-image{
    max-width: 20vw;
}
